<footer class="bg-blue-900 text-white p-4 flex justify-between items-center">
  <div>
    <p class="text-sm">FIELDREVIEW™ uma marca comercial da Bayer SA</p>
    <p class="text-sm">© 2023 Bayer. Todos os direitos reservados.</p>
  </div>
  <div class="flex space-x-4">
    <a href="#" class="text-white">Bayer Crop Science</a>
    <a href="#" class="text-white">Intel</a>
    <a href="#" class="text-white">Field Review</a>
    <a href="#" class="text-white">Ranking / Notificações</a>
    <a href="#" class="text-white">Suas Trilhas</a>
    <a href="#" class="text-white">Trilhas disponíveis</a>
    <a href="#" class="text-white">Help</a>
    <a href="#" class="text-white">Fale conosco</a>
    <a href="#" class="text-white">[xx] xxxxx-xxxx</a>
    <a href="#" class="text-white">xxxxxxxx@xxxxxxxxx</a>
  </div>
</footer>
