<header class="bg-blue-900 text-white p-4 flex justify-between items-center">
  <div class="flex items-center">
    <h1 class="text-2xl font-bold">FIELD<span class="text-green-400">REVIEW</span></h1>
  </div>
  <input type="text" placeholder="Pesquisar..." class="p-2 rounded-md bg-white text-black w-md" />
  <div class="flex items-center space-x-10">
    <div class="flex items-center gap-2">
      <a href="#" class="text-white">?</a>
      <a href="#" class="text-white">Help</a>
    </div>
    <div class="w-8 h-8 bg-gray-300 rounded-full"></div>
  </div>
</header>
