<a href="/trail/9c341b85-da0b-43be-8acb-5cefad2f1ab5/bef654cf-de54-4a6d-9526-59d91f7f98d7">
  <div class="bg-blue-900 text-white p-6 rounded-lg">
    <h4 class="text-lg font-bold">Trilha 1: Conceitos Introdutórios do FieldView</h4>
    <div class="flex justify-between items-center border-t-1 border-white mt-4">
      <div>
        <p class="mt-2">3 Módulos</p>
        <p>Pessoas que completaram: 15</p>
      </div>
      <div class="progress-circle mt-4">
        <span>0%</span>
      </div>
    </div>
  </div>
</a>
