<<<<<<< HEAD
<a href="/trail/1">
  <div class="bg-[color:#F6F6F6] text-white rounded-lg m-sm'">
    <h4 class="text-lg font-bold text-black p-6">Trilha 1: Conceitos Introdutórios do FieldView</h4>
    <div class="flex justify-between items-center border-t-1 border-black mt-4 py-4">
=======
<a href="/trail/9c341b85-da0b-43be-8acb-5cefad2f1ab5/bef654cf-de54-4a6d-9526-59d91f7f98d7">
  <div class="bg-blue-900 text-white p-6 rounded-lg">
    <h4 class="text-lg font-bold">Trilha 1: Conceitos Introdutórios do FieldView</h4>
    <div class="flex justify-between items-center border-t-1 border-white mt-4">
>>>>>>> feat/trails-ptd-integration
      <div>
        <p class="mt-2 text-black text-semibold px-4">3 Módulos</p>
        <p class="met-2 text-black px-4">Pessoas que completaram: 15</p>
      </div>
     <div class="relative w-20 h-20 rounded-full border-[10px] border-[#6DBA0D] flex items-center justify-center mr-4">
      <div class="absolute inset-[10px] rounded-full flex items-center justify-center">
        <span class="text-black text-sm font-semibold">0%</span>
      </div>
     </div>
    </div>
  </div>
</a>
