<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trilha 1: O Básico - Climate FieldView</title>


  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    input[type='checkbox'] {
      accent-color: #4da8da;
    }
  </style>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="font-helvetica">

  <div class="grid grid-cols-12 h-screen w-full overflow-x-hidden">

    <div class="col-start-1 col-end-13 row-start-1">
      <%- include('../partials/header.ejs') %>
    </div>

    <!--Título que aparecerá em telas pequenas-->
    <h1 class="sm:hidden col-start-2 text-xl col-end-10 self-start pt-4 row-start-2 font-bold">
      Trilha 1 - O Básico
    </h1>

    <!--Botão para telas pequenas-->
    <button class="block sm:hidden text-center mt-4 col-start-2 col-span-4 text-left row-start-5 rounded bg-[#66B511] text-white text-base" onclick=showAside()>Módulos</button>

    <!--Barra lateral de mostrar os módulos-->
    <aside
      class="hidden relative sm:block sm:h-fit bg-white border-2 border-black/10 rounded p-6 col-start-1 col-end-12 sm:col-end-4 mt-8 sm:left-0 row-start-5 sm:row-start-auto sm:left-0 sm:top-5"
      id = "asideBar"
      >
      <h3 class="hidden sm:block text-base sm:text-lg font-bold text-black mb-4">Trilha 1: O Básico</h3>
      <button class="absolute top-3 right-5 sm:hidden" onclick=hideAside()>
        <img src="/img/Subtract.svg" class="h-[25px] w-auto">
      </button>
      <ul class="space-y-4 text-xs">
        <li class="flex items-center space-x-2">
          <span class="w-4 h-4 bg-green-500 rounded-full"></span>
          <span class="text-gray-600">Overview do Programa</span>
        </li>
        <li class="flex items-center space-x-2">
          <span class="w-4 h-4 bg-green-500 rounded-full"></span>
          <span class="text-gray-600">Licenças e Certificados</span>
        </li>
        <li class="flex items-center space-x-2">
          <span class="w-4 h-4 bg-blue-500 rounded-full"></span>
          <span class="text-blue-900 font-semibold">O que é o Climate FieldView</span>
        </li>
      </ul>
    </aside>
    

    <!--Conteúdo principal das telas-->
    <main class=" col-start-2 sm:col-start-5  col-end-12 pt-8 sm:p-8 row-start-6 sm:row-auto">
      <h2 class="text-3xl font-bold text-[#003B71] mb-6 sm:text-5xl">O que é o Climate FieldView</h2>

      <div class="bg-gray-200 h-96 rounded-lg mb-6 flex items-center justify-center">
        <p class="text-gray-500">Placeholder for Image/Video</p>
      </div>

      <div class="bg-white p-6 rounded-lg mb-6 text-base sm:text-lg">
        <p class="text-gray-700 mb-4">
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="text-gray-700 border-b-2 border-solid border-[#66B511] pb-5">
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </div>

      <div class="bg-white p-6 rounded-lg sm:text-lg">
        <form>
          <div class="space-y-4">
            <label class="flex items-center space-x-3">
              <input type="checkbox" class="w-5 h-5" />
              <span class="text-gray-700">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,</span>
            </label>
            <label class="flex items-center space-x-3">
              <input type="checkbox" class="w-5 h-5" />
              <span class="text-gray-700">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,</span>
            </label>
            <label class="flex items-center space-x-3">
              <input type="checkbox" class="w-5 h-5" />
              <span class="text-gray-700">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,</span>
            </label>
            <label class="flex items-center space-x-3">
              <input type="checkbox" class="w-5 h-5" />
              <span class="text-gray-700">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,</span>
            </label>
          </div>

          <div class="mt-6 flex justify-end ">
            <button type="submit" class="bg-[#66B513] text-white px-6 py-2 rounded-md hover:bg-blue-800 sm:text-lg font-bold">
              Responder
            </button>
          </div>
        </form>
      </div>
    </main>
    <div class="mt-8 w-full col-start-1 col-end-13 row-start-7">
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>

  <script src="/scripts/trail.js"></script>
</body>

</html>